.room-pagination > a.active{
    background-color: #dfa974;
    color: white;
}
img.search-img {
    min-width: 50%;
    height: 150px;
}
.auth {
    margin-top: 13px;
}
.auth a {
    color: #dfa974;
    margin-left: 10px;
}
.person {
    text-align: center;
}
.btn-person {
    color: #dfa974;
}
